/* Ranking page styles */

.ranking-container {
  display: flex;
}

.rankings-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 64px;
}

/* Top ranking card */
.top-ranking-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 16px;
  background-color: #fff;
  border-radius: 16px;
}

.ranking-position {
  font-size: 64px;
  font-weight: 900;
  color: #333;
  text-align: center;
}

.ranking-avatar-container {
  padding: 7px 22px;
  width: 195px;
}

.ranking-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #D9D9D9;
  object-fit: cover;
}

.top-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.top-user-name {
  font-size: 40px;
  font-weight: 700;
  color: #494949;
  text-align: center;
}

.top-user-department {
  font-size: 16px;
  font-weight: 700;
  color: #494949;
  text-align: center;
}

.top-user-level {
  font-size: 61px;
  font-weight: 700;
  color: #CB831E;
  padding: 8px 0;
  width: 242px;
  text-align: center;
}

/* Regular ranking items */
.ranking-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 37px;
  gap: 15px;
  background-color: #fff;
  border-radius: 15px;
}

.ranking-item .ranking-position {
  font-size: 48px;
  font-weight: 700;
}

.ranking-item .ranking-avatar-container {
  padding: 3.5px 11px;
  width: 99px;
}

.ranking-item .ranking-avatar {
  width: 80px;
  height: 80px;
}

.ranking-item .ranking-user-name {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  text-align: center;
}

.ranking-item .ranking-user-level {
  font-size: 48px;
  font-weight: 700;
  color: #333;
  padding: 7.5px 0;
  width: 281px;
  text-align: center;
}
